cartoons  
              { 
              font-size:80%; 
              margin:0.5em; 
              font-family: Verdana; 
              display:block; 
              } 
cartoon       { 
              display:block;  
              border: 1px solid silver; 
              margin:0.5em;  
              padding:0.5em;  
              background-color:whitesmoke; 
              }  
heading { 
      display:block; 
      font-weight:bolder; 
      text-align:center; 
      font-size:30px; 
      background-color: green; 
      color: white;
} 
name, made_info, serials, comments{ 
	  display:block; 
      text-align:center; 
}
name{
	 color:green;  
     text-decoration: underline  ; 
     font-weight:bolder; 
     font-size:20px; 
}
made_info{
     color:green
}
serials{
     color:brown 
}
comments{
     color:blue
}